.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-content {
  text-align: center;
  max-width: 40em;
  font-size: 17px;
}

.about-content span{
    font-size: 0.9em;
    font-style: italic;
    background-color: rgba(95, 75, 8, 0.233);
}

.about-content strong{
    font-style: italic;
    background-color: rgba(105, 54, 7, 0.164);
}


@media (max-width: 600px) {
    .about-content{
        width: 90vw;
        font-size: 1em;
    }
}