.restaurant-review-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.restaurant-review-info > div:nth-of-type(1){
    background-color: #d8b66ce1;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.restaurant-review-info h1{
    margin-bottom: 0;
    padding-bottom: 0;
}

.restaurant-review-info p{
    margin-top: 0;
    display: flex;
    justify-content:center;
}

.restaurant-review-info .category-tags{
    margin-bottom: 1em;
}

.loader{
    margin-left: 25%;
}

h2{
    margin-left: 25%;
}


@media (max-width: 600px) {

    .restaurant-review-info{
        width: 90%;
        height: 10em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        border-radius: 10px;
      }

    .restaurant-review-info > div:nth-of-type(1){
        background-color: #d8b66ce1;
        width: 100%;
        height: 50%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .restaurant-review-info h1{
        font-size: 1.2em;
    }

    .restaurant-review-info p{
        font-size: .8em;
    }

    .restaurant-review-info p img{
        margin-top: 1%;
       height: 1.2em;
    }

    .restaurant-review-info .category-tags{
        margin-top: 15%;
       font-size: .9em;
    }

    .loader{
        align-self: center;
    }
}