body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #FFF7D2;
  padding: 2em;
  color: #755036;
}

.restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.page-content{
 padding: 2em;
}

a {
  text-decoration: none;
  color: #755036;
}

h1{
	display: flex;
	justify-content: center;
  margin-top: 0;
  padding: .5em;
  font-size: 2.5em;
}

.loader {
  border: 16px solid #b18e75;
  border-radius: 50%;
  border-top: 16px solid #755036;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .app > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }

  h1{
  font-size: 1.5em;
  }

  .page-content{
    padding: .5em;
  }

  .restaurants-list {
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .restaurants-list a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
  }

  .loader{
    width: 60px;
    height: 60px;
  }
}