body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #FFF7D2;
  padding: 2em;
  color: #755036;
}


.restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.page-content{
 padding: 2em;
}

a {
  text-decoration: none;
  color: #755036;
}

h1{
	display: flex;
	justify-content: center;
  margin-top: 0;
  padding: .5em;
  font-size: 2.5em;
}

.loader {
  border: 16px solid #b18e75;
  border-radius: 50%;
  border-top: 16px solid #755036;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

