.review-form-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sep-decor{
    padding-top: 2em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.sep-line {
    background-color: #75503696;
    width: 45vw;
    height: 3px;
}

.sep-decor img {
    height: 3em;
}

.review-form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.review-form .col-1{
    display: flex;
    flex-direction: column;
    max-width: 25em;
    justify-content: space-between;
    margin-right: 1em;
}

.review-form .col-2{
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    margin-right: 1em;
    max-width: 70vw;

}

.review-form .col-2 .col-bill-itens{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    max-width: 70%;

}

.review-form .col-2 .col-bill-itens input{
    padding-left: 1em;
    margin-top: 1em;
    border: none;
    width: 100%;
    box-sizing: border-box !important;
    background-color: #c6a67f6e;
    color: #6d4c2d;
    outline: none;
    border-radius: 5px;
    font-size: .8em;
}

.review-form .col-2 .col-bill-itens .add-item{
    font-family: "Roboto", sans-serif;
    margin-top: 1em;
    border: none;
    min-width: 10em;
    text-transform: uppercase;
    font-size: .8em;
    background: #c7884d;
    padding: .5em;
    color: #fff7ce;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-left: 50%;
}

.review-form .col-2 .col-bill-itens .add-item:hover {
    background: #503720;
  }

.review-form .col-2 input{
    padding-left: .5em;
    margin-top: 2em;
    min-width: 30vw;
    height: 3em;
    width: 100%;
    border: none;
    background-color: #c6a67f6e;
    color: #6d4c2d;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
}

.review-form .col-2 textarea{
    padding-top: .5em;
    padding-left: .5em;
    margin-top: 1em;
    width: 100%;
    height: 10em;
    resize: none;
    border: none;
    outline: none;
    background-color: #c6a67f6e;
    color: #6d4c2d;
    font-size: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.named-field{
    display: flex;
    flex-direction: column;
}

.named-field p{
    font-weight: bold;
    display: flex;
}
.named-field p img{
    margin-right: 3px;
}
.col-1 button:hover{
    background: #815e3e77 !important;
}
.col-1 .rdp-day_selected{
    background: #503720ab !important;
}
.col-2 .add-review{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #79532f;
    width: 100%;
    border: 0;
    padding: 1em;
    color: #cfc8a6;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    border-radius: 5px;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 1em;
}

.col-2 .add-review:hover {
    background: #503720;
}

.col-3{
    display: flex;
    flex-direction: column;
    max-width: 20em;
}

.upload-area {
    border: 2px dashed #79532f;
    background-color: #f0e7c1;
    width: 100%;
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.upload-area p{
    margin-left: 1em;
    max-width: 15em;
  }

.upload-area.active {
    border: 2px solid #503720;
}

.preview-upload{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    height: auto;
  }
.preview-upload img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    margin: 2px;
  }

@media (max-width: 600px) {
    .col-1{
        width: 80vw;
    }
    .col-2{
        width: 100%;
    }
}