.search-restaurants{
    margin-bottom: 2em;
    width: 50%;
    margin-left: 25%;
}

.search-restaurants input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: #c6a67f6e;
    color: #6d4c2d;
    box-sizing: border-box;
}

.search-restaurants input[type="text"]:focus{
    background-color: #6d4c2d;
    color: wheat;
    font-weight: bold;
}



@media (max-width: 600px) {

    .search-restaurants{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

  }